/*
  Button

  This button can be used for regular buttons,
  buttons with icons and buttons with only icons.
*/
@mixin button(

  // Scaling.
  $max-width: initial,
  $padding-top: 0.7rem,
  $padding-left: 1.2rem,
  $padding-bottom: 0.7rem,
  $padding-right: 1.2rem,
  $width: fit-content,

  // Typography.
  $line-height: var(--rnb--line-height--body),
  $font-size: var(--rnb--font-size--button),
  $font-weight: var(--rnb--font-weight--regular),
  $font-family: var(--rnb--font-family--body),
  $text-transform: none,

  // Coloring.
  $background-color: var(--color--transparent),
  $background-color--hover: var(--color--white),
  $border-color: var(--color--white),
  $border-color--hover: var(--color--white),
  $color: var(--rnb--color--text),
  $color--disabled: var(--rnb--color--disabled--text),
  $background-color--disabled: var(--rnb--color--disabled--background),
  $border-color--disabled: var(--rnb--color--disabled--text),
  $color--hover: var(--rnb--color--primary),
  $color--icon: $color,
  $color--icon-hover: $color--hover,

  // Border.
  $border: false,
  $border-hover: true,
  $border-radius:  2.5rem,
  $border-style: solid,
  $border-width: 1px,

  // Icon.
  $icon-margin: 0.25em,
  $icon-width: 1.25em,

  // Animation.
  $duration: var(--transition-duration),
  $easing: var(--transition-easing),
) {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  column-gap: $icon-margin;
  align-items: center;
  width: $width;
  max-width: $max-width;
  padding: $padding-top $padding-right $padding-bottom $padding-left;
  margin-bottom: 0;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
  text-decoration: none;
  text-transform: $text-transform;
  white-space: nowrap;
  appearance: none;
  cursor: pointer;
  background-color: $background-color;
  border-color: $border-color;
  border-style: $border-style;
  border-width: $border-width;
  border-radius: $border-radius;
  transition-timing-function: $easing;
  transition-duration: $duration;
  transition-property: all;

  // Icon
  i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $icon-width;
    height: $icon-width;
  }

  svg {
    width: $icon-width;
    height: $icon-width;
    margin-right: 0;
    margin-left: 0;
    fill: $color--icon;
    transition: fill $duration $easing;
  }

  // Disabled state
  &[disabled] {
    color: $color--disabled;
    cursor: not-allowed;
    background-color: $background-color--disabled;
    border-color: $background-color--disabled;

    svg {
      fill: $color--disabled;
    }
  }

  // Active, hover and focus-visible states
  &:active:not([disabled]),
  &:hover:not([disabled])
  {
    color: $color--hover;
    background-color: $background-color--hover;
    border-color: $border-color--hover;

    svg {
      fill: $color--icon-hover;
    }
  }

  &:focus-visible:not([disabled]) {
    outline: none;

    &::after {
      content: '';
      position: absolute;
      top: -0.875rem;
      right: -0.875rem;
      bottom: -0.875rem;
      left: -0.875rem;
      border-radius: 1%;
      border: 4px solid var(--color--white);
      pointer-events: none;
    }
  }
}
