// Icon Button
@mixin icon-button($color: var(--color-button-text),
  $hover-color: var(--color-button-text),
  $background: var(--color-button-primary-bg),
  $background-hover: var(--color-button-primary-bg-hover),
  $icon-size: 1rem,
  $background-size: 3.475rem,
  $border-hover: true,
  $border-width: 3px,
  $border-style: solid,
  $border-color: transparent,
  $border-hover-color: $background,
  $disabled-color: var(--color-button-disabled),
) {
  @include button-reset;

  display: inline-block;
  width: fit-content;

  &:active,
  &:hover,
  &:focus-visible {

    i {
      background-color: $background-hover;
      border-color: $border-hover-color;
    }

    svg {
      fill: $hover-color;
    }
  }

  i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $background-size;
    height: $background-size;
    background-color: $background;
    border-color: $border-color;
    border-style: $border-style;
    border-width: $border-width;
    border-radius: 100%;
  }

  svg {
    width: $icon-size;
    height: $icon-size;
    fill: $color;
  }

  &[disabled] {
    cursor: not-allowed;

    i {
      background-color: $disabled-color;
      border-color: $disabled-color;
    }
  }

  @media (max-width: $breakpoint-md) {

    i {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
