@mixin input(
  $padding: 0.75rem 1rem,
  $additional-padding-left: 0.3rem,
  $background-color: var(--color--black),
  $border-color: var(--rnb--color--text),
  $border-style: solid,
  $border-width: 1px,
  $border-radius: 4px,
  $border-color-hover: var(--rnb--color--primary),
  $border-color-disabled: var(--rnb--color--disabled--text),
  $border-color-error: var(--rnb--color--primary),
  $border-color-success: var(--rnb--color--secondary),
  $color: var(--rnb--color--text),
  $placeholder-color: var(--rnb--color--disabled--text),
  $font-size: var(--rnb--font-size--input),
  $line-height: var(--rnb--line-height--input)
) {
  position: relative;
  box-sizing: border-box;
  padding: $padding;
  font-family: var(--rnb--font-family--paragraph);
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
  border-style: $border-style;
  border-width: $border-width;
  border-radius: $border-radius;
  transition:
    border-color 0.2s,
    background-color 0.2s;

  &:focus {
    outline: none;
  }

  &[disabled] {
    color: $border-color-disabled;
    cursor: not-allowed;
    border-color: $border-color-disabled;
  }

  &[aria-invalid="true"] {
    border-color: $border-color-error;
  }

  &:hover,
  &:active {
    &:not([disabled]) {
      cursor: pointer;
      background-color: var(--color--dark-grayish-blue);
      border-color: $border-color-hover;
    }
  }

  &:focus-within:not([disabled]) {
    outline: none;
  }
}
