// Text meant only for screen readers.
@mixin screen-reader-text() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  // doiuse-disable
  clip-path: inset(50%);

  // Many screen reader and browser combinations announce broken words as they would appear visually.
  // stylelint-disable-next-line declaration-no-important, max-line-length
  word-wrap: normal !important;
  border: 0;

  &:focus-within {
    top: 5px;
    left: 5px;
    z-index: 100000; // Above WP toolbar.
    display: block;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    clip: auto;
    clip-path: none;
    font-size: 1.7rem;
    font-weight: var(--rnb--font-weight--semi-bold);
    line-height: normal;
    text-decoration: none;
    background-color: var(--rnb--color--white);
    border-radius: 0;
    box-shadow: 0 0 2px 2px rgb(22 22 22 / 60%);
  }
}
