@import "../../app/sass/loaders/scss-tooling-import";

body.wp-admin [data-type="acf/cta"] {
  color: var(--color--white) !important;
  background-color: var(--color--black) !important;
}

.block-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
  transform: translateY(50px);

  &.animate {
    opacity: 1;
    transform: translateY(0);
  }

  body.wp-admin & {
    opacity: 1 !important;
    transform: none !important;
  }

  @media (min-width: $breakpoint-md) {
    margin: 5.5rem 0;
  }

  &__inner-content {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    padding: 6.25rem 1rem;

    .block-cta__title {
      opacity: 0;
      transition:
        opacity 0.6s ease-out,
        transform 0.6s ease-out;
      transform: translateY(30px);

      .block-cta.animate & {
        opacity: 1;
        transform: translateY(0);
      }

      body.wp-admin & {
        opacity: 1 !important;
        transform: none !important;
      }
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      gap: 1.5rem;
      justify-content: center;
    }

    .block-cta__button {
      opacity: 0;
      transition:
        opacity 0.6s ease-out,
        transform 0.6s ease-out;
      transition-delay: calc(var(--cta-button-index, 0) * 0.2s);
      transform: translateY(30px);

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }

      body.wp-admin & {
        opacity: 1 !important;
        transform: none !important;
      }
    }
  }
}
