@import "../../app/sass/loaders/scss-tooling-import";

.block-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.5rem 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $breakpoint-md) {
    margin: 5.5rem 0;
  }

  &__inner-content {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    padding: 6.25rem 1rem;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      gap: 1.5rem;
      justify-content: center;
    }
  }
}
