/*
	Declare typefaces for use in the project.
*/

/*
// Roslindale Display Regular
@font-face {
  font-family: RoslindaleDisplayRegular;
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../../fonts/roslindaledisplay-regular-subset.woff2') format('woff2');
  font-display: swap;
  ascent-override: normal;
  descent-override: 30%;
}
*/
