@import "../../app/sass/loaders/scss-tooling-import";
@import "../../app/sass/base/buttons";

.block-frontpage-hero {
  position: relative;

  .mobile-only {
    display: grid;

    @media (min-width: $breakpoint-mobile-menu) {
      display: none;
    }
  }

  .desktop-only {
    display: none;

    @media (min-width: $breakpoint-mobile-menu) {
      display: grid;
    }
  }

  &__inner-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0;
  }

  &__image {
    min-width: 100vw;
    min-height: 31.25rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;

      @media (min-width: $breakpoint-mobile-menu) {
        height: 100%;
      }
    }

    @media (min-width: $breakpoint-mobile-menu) {
      height: calc(100vh - 5.5rem);
    }
  }

  &__text-wrapper {
    position: absolute;
    right: 0;
    bottom: 3rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

    @media (min-width: $breakpoint-mobile-menu) {
      bottom: 6.25rem;
    }
  }

  &__title {
    font-size: var(--rnb--font-size--hero);
    hyphens: auto;
    line-height: var(--rnb--line-height--heading);
    text-align: center;
    white-space: normal;
  }

  &__text {
    p {
      margin-bottom: 2.5rem;
      hyphens: auto;
      white-space: normal;
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
  }
}
