.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  padding: 3.5rem 0.5rem;
  background-color: #14161ad9;
  backdrop-filter: blur(40px);
  opacity: 0;

  @media (min-width: $breakpoint-md) {
    padding: 3.5rem;
  }

  &__content {
    width: auto;
    max-width: 75rem;
  }

  &__meta {
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
    color: var(--rnb--color--text-inverted);
  }

  &__image {
    display: flex;
    justify-content: center;
    max-height: 80vh;

    img {
      max-height: inherit;
    }
  }

  &__excerpt {
    margin-top: 1rem;
    color: var(--rnb--color--text-inverted);
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    color: white;

    i svg {
      fill: var(--rnb--color--text-inverted);
    }

    @include focus-outline;
    @include icon-button(
      $background: transparent,
      $background-hover: transparent,
      $border-color: transparent,
      $border-hover-color: transparent,
      $color: var(--rnb--color--text-inverted),
      $hover-color: var(--color-primary)
    );

    &:active {
      i svg {
        fill: var(--rnb--color--text-inverted);
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline-width: 3px;
      outline-color: var(--rnb--color--text-inverted);
      outline-offset: -3px;
    }
  }

  &__swipernav {
    display: flex;
    column-gap: 0.8rem;
    align-items: baseline;

    @media (min-width: $breakpoint-md) {
      column-gap: 1rem;
    }

    .swiper-button {
      @include icon-button(
        $color: var(--rnb--color--text-inverted),
        $hover-color: var(--color-primary)
      );
      @include focus-outline;

      &:hover {
        cursor: pointer;
      }

      i {
        fill: var(--rnb--color--text-inverted);
      }
    }
  }

  &[data-swiper-active="false"] {
    .lightbox__swipernav {
      display: none;
    }
  }

  /*
    Handle the dialog animation, based on the JS state. Make sure to
    update the JS delay too if you change the animation delay here.
  */
  &.lightbox {
    &--open {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      animation: show-dialog 0.25s ease-in-out normal;
    }

    &--closing {
      display: block;
      animation: hide-dialog 0.25s ease-in-out normal;
    }

    &--closed {
      display: none;
    }
  }
}

/*
  Hide the admin bar while lightbox is open,
  to improve the admin user experience.
*/
body:has(.lightbox[aria-hidden="false"]) {
  #wpadminbar {
    display: none;
  }
}

/*
  Lightmode exceptions.
*/

body.lightmode {
  .lightbox {
    background-color: rgb(255 255 255 / 85%);
  }
}

@keyframes show-dialog {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes hide-dialog {
  from {
    opacity: 100;
  }

  to {
    opacity: 0;
  }
}
