@import "../../app/sass/loaders/scss-tooling-import";

/**
* Styles for accordion block
*/

.sidebar-accordion {
  width: 100%;

  &__container {
    padding: calc(3rem - var(--rnb--margin-between--blocks)) 0;

    @media (min-width: $breakpoint-md) {
      padding: calc(6.25rem - var(--rnb--margin-between--blocks)) 0;
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-md) {
    }
  }

  &__heading {
    margin-bottom: 2.5rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    height: 100%;
    padding: 3rem 0;
    overflow-y: auto;
    border-top: 1px solid var(--color--white);

    @media (min-width: $breakpoint-md) {
      gap: 3.5rem;
      padding: 3.5rem 0;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      @media (min-width: $breakpoint-md) {
        display: grid;
        grid-template-columns: 35% 1fr;
      }
    }

    .quote {
      display: grid;
      gap: 1.5rem;

      @media (min-width: $breakpoint-md) {
        grid-template-columns: auto 1fr;
        gap: 2.5rem;
      }
    }

    .quote-text {
      display: flex;
      flex-direction: column;
      gap: 1.75rem;
      padding: 0;
      margin: 0;
    }

    .quote-author-image {
      width: 100%;
      max-width: 9.25rem;

      .image {
        width: 6.25rem;
        height: 6.25rem;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;

        @media (min-width: $breakpoint-md) {
          width: 9.25rem;
          height: 9.25rem;
        }
      }
    }

    .accordion-item__content {
      img {
        width: 100%;
        margin-bottom: 2.25rem;

        @media (min-width: $breakpoint-md) {
          margin-bottom: 3.5rem;
        }
      }
    }
  }
}

.sidebar-accordion-item {
  width: 100%;
  max-width: 27.875rem;

  &__header {
    @include heading($type: "h6");

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    color: var(--color--text);
    cursor: pointer;
    background: var(--color--transparent);
    border: none;
    border-left: 4px solid var(--color--grey-3, #fff);
    transition: background 0.3s;

    &.is-active {
      background: var(--color--very-dark-grayish-blue);
      border-color: var(--color--white);
    }

    &:hover {
      background: var(--color--very-dark-grayish-blue);
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
  }

  &__panel {
    display: none; // Default state
    padding: 1rem;
  }

  &[aria-expanded="true"] &__panel {
    display: block;
  }
}
