// stylelint-disable declaration-property-unit-allowed-list, no-descending-specificity
// Everything around fonts, font size definitions and typeset
// presets. No modular scale, but a sophisticated viewport
// based responsive mixin can be found in _helpers.scss

// Typography settings
.is-root-container,
.acf-block-preview .block,
body:not(.wp-admin) {
  font-family: var(--rnb--font-family--paragraph);
  font-size: var(--rnb--font-size--body);
  font-weight: var(--rnb--font-weight--regular);
  line-height: var(--rnb--line-height--body);
  color: var(--rnb--color--text);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // stylelint-disable-next-line value-keyword-case
  text-rendering: geometricprecision;
}

// Headings
h1,
.h1 {
  @include heading(
    $type: "h1",
    $font-size: var(--rnb--font-size--h1),
    $line-height: var(--rnb--line-height--h1),
    $letter-spacing: var(--rnb--letter-spacing--h1)
  );
}

h2,
.h2 {
  @include heading(
    $type: "h2",
    $font-size: var(--rnb--font-size--h2),
    $line-height: var(--rnb--line-height--h2),
    $letter-spacing: var(--rnb--letter-spacing--h2)
  );
}

h3,
.h3 {
  @include heading(
    $type: "h3",
    $font-size: var(--rnb--font-size--h3),
    $line-height: var(--rnb--line-height--h3),
    $letter-spacing: var(--rnb--letter-spacing--h3)
  );
}

h4,
.h4 {
  @include heading(
    $type: "h4",
    $font-size: var(--rnb--font-size--h4),
    $line-height: var(--rnb--line-height--h4)
  );
}

h5,
.h5 {
  @include heading(
    $type: "h5",
    $font-size: var(--rnb--font-size--h5),
    $line-height: var(--rnb--line-height--h5)
  );
}

h6,
.h6 {
  @include heading(
    $type: "h6",
    $font-size: var(--rnb--font-size--h6),
    $line-height: var(--rnb--line-height--h6)
  );
}

// Paragraphs
p {
  @include paragraph(
    $type: "regular",
    $font-size: var(--rnb--font-size--body),
    $line-height: var(--rnb--line-height--body)
  );

  margin-bottom: var(--rnb--margin-between--paragraphs);

  a {
    @include base-link-styles($color: var(--rnb--color--text));
  }
}

p.large {
  @include paragraph(
    $type: "body-large",
    $font-size: var(--rnb--font-size--body-large),
    $line-height: var(--rnb--line-height--body)
  );
}

p.small {
  @include paragraph(
    $type: "body-small",
    $font-size: var(--rnb--font-size--body-small),
    $line-height: var(--rnb--line-height--body)
  );
}

// Links
a {
  @include base-link-styles($color: var(--rnb--color--text));
}

a:not(
    [href^="mailto:"],
    [href^="tel:"],
    .button-primary,
    .button-secondary,
    .site-branding__link
  ) {
  @include hover-underline;
}

a[href^="mailto:"],
a[href^="tel:"] {
  text-decoration: underline;
}

// Lists
ul li,
ol li {
  @include paragraph(
    $font-size: var(--rnb--font-size--list),
    $line-height: var(--rnb--line-height--body)
  );

  a {
    @include base-link-styles($color: var(--rnb--color--text));
  }
}

// Quotes
.quote {
  @include quote;

  font-style: italic;
}
