.site-footer {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  h3 {
    @include heading($type: "h6");
  }

  &__navigation {
    .site-footer__contact,
    .site-footer__sitemap {
      border-bottom: 1px solid var(--color--white);

      @media (min-width: $breakpoint-md) {
        border-right: 1px solid var(--color--white);
        border-bottom: none;
      }
    }

    @media (min-width: $breakpoint-md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.7813rem;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3.25rem;

    p {
      margin-bottom: 0.5rem;
    }
  }

  .site-footer__sitemap__menu-items,
  .site-footer__menu__menu-items {
    margin: 3.25rem 0;

    @media (min-width: $breakpoint-md) {
      margin: 0;
    }
  }

  &__navigation,
  &__sitemap,
  &__menu {
    &__menu-items {
      padding-left: 0;
      list-style-type: none;

      @media (min-width: $breakpoint-md) {
        margin-top: 0;
      }

      .menu-item {
        margin-bottom: 1rem;
      }
    }
  }

  // Bottom section

  &__bottom-section {
    margin-top: 3rem;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .site-footer__bottom-content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      color: var(--color--dark-grayish-blue);

      a {
        @include base-link-styles($color: var(--color--dark-grayish-blue));
      }

      p {
        margin: 0;
      }

      @media (min-width: $breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .site-branding {
      .site-branding__link {
        display: inline-block;
        width: 100%;

        .site-branding__logo {
          display: block;
          width: 100%;
          max-width: 82.25rem;
          margin: 0 auto;
        }
      }
    }
  }

  .nav-lang-switcher {
    @include list-reset;
  }
}

@keyframes footerLogoBlink {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  52% {
    opacity: 1;
  }

  54% {
    opacity: 0;
  }

  56% {
    opacity: 1;
  }

  58% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.site-branding__logo.blink {
  animation: footerLogoBlink 4s forwards;
}
